@{
    ViewData["Title"] = "Home Page";
}

<div>
    <form method="get" asp-action="Getif">
        <div class="form-group">
            <label for="dayOfWeek">Selecione um dia da semana</label>
            <select name="day" id="dayOfWeek" class="form-control">
                <option value="">-- Selecione --</option>
                <option value="domingo">Domingo</option>
                <option value="segunda">Segunda-feira</option>
                <option value="terca">Terça-feira</option>
                <option value="quarta">Quarta-feira</option>
                <option value="quinta">Quinta-feira</option>
                <option value="sexta">Sexta-feira</option>
                <option value="sabado">Sábado</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">
            Enviar
        </button>
    </form>
</div>