@{
    ViewData["Title"] = "Home Page";
}

<div>
    <form method="get" asp-action="GetIf">
        <div class="form-group">
            <label for="xDoIf">Valor de X:</label>
            <input type="text" name="x" id="xDoIf" />
        </div>
        <button type="submit">
            GetIf
        </button>
    </form>
</div>

<div>
    <form method="get" asp-action="GetSwitch">
        <div class="form-group">
            <label for="xDoSwitch">Valor de X:</label>
            <input type="text" name="x" id= "xDoSwitch" />
        </div>
        <button type="submit">
            GetSwitch
            </button>
    </form>
</div>

<div>
    <form method="get" asp-action="GetFor">
        <div class="form-group">
            <label for="DoFor">Valor de X:</label>
            <input type="text" name="x" id="xDoFor" />
        </div>
        <button type="submit">
            GetFor
        </button>
    </form>
</div>

<div>
    <form method="get" asp-action="GetForeach">
        <div class="form-group">
            <label for="xDoForeach">Valor de X:</label>
            <input type="text" name="color" id="xDoForeach" />
        </div>
        <button type="submit">
            GetForeach
        </button>
    </form>
</div>