@model Variaveis

@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">Bem-Vindos!</h1>

    <p> 
        O valor de <b>UserCount</b> é: <i>@Model.userCount</i>
    </p>

    <p>
        O valor de <b>TotalCount</b> é <i>@Model.totalCount</i>
    </p>

    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
