@model Variaveis

@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">Bem-Vindos!</h1>












    <p> 
        O valor <b>Mínimo de long</b> é: <i>@Model.Minlong</i>
    </p>

    <p>
        O valor <b>Máximo de long</b> é <i>@Model.Maxlong</i>
    </p>

    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
